project:
  type: website

website:
  title: "ad688-employability-sp25A1-group-4"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: research_introduction.qmd
        text: Research Introduction

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



